/* Custom Styles */

html .header {
	background-color: #0099D9;
	background-image: none;

	background-image: -webkit-gradient(radial,center center,0,center center,460,from(#0099D9),to(#FFB754));
	background-image: -webkit-radial-gradient(circle,#0099D9,#FFB754);
	background-image: -moz-radial-gradient(circle,#0099D9,#FFB754);
	background-image: -o-radial-gradient(circle,#0099D9,#FFB754);
}

.admin-logo {
	background: url("../images/login-joomla.png") center center no-repeat;
	width: 24px;
	height: 24px;
}

.view-login {
	background-color: #0099D9;
	background-image: none;

	background-image: -webkit-gradient(radial,center center,0,center center,460,from(#0099D9),to(#FFB754));
	background-image: -webkit-radial-gradient(circle,#0099D9,#FFB754);
	background-image: -moz-radial-gradient(circle,#0099D9,#FFB754);
	background-image: -o-radial-gradient(circle,#0099D9,#FFB754);
}

.view-login .navbar-fixed-bottom {
	background: #000000;
	padding: 10px 10px 0px 10px;
}